*{
    font-family:Arial, Helvetica, sans-serif;
  }

.logo {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    left: 40px;
    display: flex;
    display: inline-block;
    position: absolute;
    color: rgba(196, 176, 110, 0.925);
    font-weight : bold;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
      margin-left: 5%;
      width:10%
    }
  
    to {
      margin-left:0%;
      width:10%;
    }
  }

.navbar {  
    margin: 0px;
    padding: 50px;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    box-shadow: 10px 5px 5px;
}

.li1 {
    grid-area: li1;
}
.li2 {
    grid-area: li2;
}
.li3 {
    grid-area: li3;
}

a {
    text-decoration: none;
  }


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.image {
    border-radius: 20px;
    grid-area: image;
}

.intro {
    grid-area: intro;
    font-size: larger;
    color: rgb(0, 0, 0);

}

.container { 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:'intro image';
    gap: 20px;
    height: 600px;
    place-items: center center;
}

.notification {
    text-align: center;
    color: rgba(170, 132, 9, 0.925);
    font-weight: 500;
    font-size: x-large;
}

#softskills {
    margin-bottom: 3%;
}

#diplomes {
    margin-top: 5%;
    text-align: center;
}

.maps {
    grid-area: maps;
    height: 20%;
    margin-left: 40%;
}

.field {
    grid-area: field;
    height: 20%;
    margin-right: 40%;
    width: 30em;
}

.text {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'maps field';
    place-items: center center;
    gap: 50px;
    height: 700px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: center;
}

 
    @media screen and (max-width: 480px) { 
    
        .navbar {
            height: auto;
            position: relative;
            grid-template-columns: 1fr;
            grid-template-areas: 'li1'
                                 'li2'
                                 'li3';
        }

        .logo {
            height: auto;
            position: relative;
        }

        .container {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-areas: 'image'
                                 'intro';
        }

        .notification {
            height: auto;
            margin-left: 10%;
        }
        
        .maps {
            height: auto;
            margin-left: 0%;
            justify-content: center;
        }

        .field {
            height: auto;
            margin-right: 20%;
            width: 50%;
        }
        .grid {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-areas: 'maps'
                                'field';
            place-items: center;                      
        }

        .footer {
            height: auto;
            flex-direction: column;
            margin-left: 10%;
        }
}